* {
    box-sizing: border-box;
 }
 
 body{
     font-family: sans-serif;
     margin: 0;
     display: grid;
     grid-template:
         "main";
 }
 
 main{
     display: grid;
     grid-area: main;
     grid-template:
         "1 2";
     height: 100vh;
     align-content: stretch;
     align-items: stretch;
 }

 p{
     font-size: 0.9rem;
 }
 
 .swiper {
     width: 100%;
     user-select: none;
 }
 
 .swiper-slide{
     padding: 10px;
 }
 
 img {
     width: 100%;
 }
 
 .alinhamento {
     align-items: center;
 }
 
 .card {
     color: white;
     padding: 16px;
     border-radius: 10px;
     height: 100%;
     display: grid;
     align-items: center;
 }
 
 .swiper-button-next, 
 .swiper-button-prev {
     color: black;
     grid-area: main;
 }
 
 @media ( max-width: 600px ) {
 
    main{
    grid-template:
    "1"
    "2";
     }
       
     .swiper-button-prev,
     .swiper-button-next {
         display: none;
     } 
 }